.banner
{
    background-image:url('cloths.jpeg');
    height:300px;
    
    background-size:600px;
    background-position:center;
}
.card{
    box-shadow:10px 5px 4px lightgrey;
   
}
image.card-img-top {
    display: block;
 
}



@media only screen and (min-device-width:700px) and (max-device-width:1000px) {
}
@media only screen and (min-device-width:320px) and (max-device-width:480px) {
}

